<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-WebApplication4-20140816073920.mdf;Initial Catalog=aspnet-WebApplication4-20140816073920;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="Entities" connectionString="metadata=res://*/Models.TutorModel.csdl|res://*/Models.TutorModel.ssdl|res://*/Models.TutorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;attachdbfilename=|DataDirectory|\aspnet-WebApplication4-20140816073920.mdf;initial catalog=aspnet-WebApplication4-20140816073920;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="UseSandbox" value="true"/>
		<add key="MyBusinessEmail" value="gronk@mail.ru"/>
		<add key="ReceiverEmailEmail" value="gronk@mail.ru"/>
		<add key="ReceiverId" value="LYB67FX45SR6C"/>
		<add key="CurrencyCode" value="USD"/>
		<add key="EnableLog" value="true"/>
		<add key="LogFileName" value="c:\tmp\TutorWebLog.txt"/>
		<add key="AdminEmail" value="tutor.module.activator@gmail.com"/>
		<add key="AdminEmailPassword" value="Wea$e1family"/>
		<add key="SMTPServer" value="smtp.gmail.com"/>
		<add key="SMTPPort" value="587"/>
		<!--<add key="SMTPPort" value="465"/> ssl-->
		<add key="EmailSubject" value="new tutor activation codes"/>
		<add key="EmailBody" value="Thank you for buying new tutor modules.&#xD;&#xA;Here are the activation codes for each module:&#xD;&#xA;"/>
		<add key="EmailFooter" value="Start Tutor application on you mobile device, &#xD;&#xA;tap on Modules, &#xD;&#xA;enter activation code in the text box, &#xD;&#xA;tap on Activate New.&#xD;&#xA;This will download new language module corresponding to activation code. You can find and use it after tapping Change Module.&#xD;&#xA;
If some of your friends dont have access to Paypal or credit cards, you can buy modules for them.&#xD;&#xA;Just remember, once module is activated, it can only be used on that device and none other!"/>
	</appSettings>
	<system.web>
		<authentication mode="None"/>
		<compilation debug="true" targetFramework="4.5"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<system.webServer>
		<modules>
			<remove name="FormsAuthenticationModule"/>
		</modules>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>
