body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 100%;
}

/* styles for validation helpers */
.field-validation-error {
  color: #b94a48;
}

.field-validation-valid {
  display: none;
}

input.input-validation-error {
  border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
  border: 0 none;
}

.validation-summary-errors {
  color: #b94a48;
}

.validation-summary-valid {
  display: none;
}

.panel-body {
  max-height: 29em;
}

.module-div {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-width: 1px;
  border-style: inset;
  border-color: initial;
}

table {
  width: 100%;
}

.module-div tr td:nth-child(3) {
  cursor: text;
}

.module-div tr td:nth-child(2) {
  cursor: pointer;
}

.module-div tr td:nth-child(1), td:nth-child(2) {
  width: 20px;
}

[contenteditable="true"]:active, [contenteditable="true"]:focus {
  border: none;
  outline: none;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color:red;
}
