@{
    ViewBag.Title = "How it works";
}
<h2>@ViewBag.Title.</h2>
<h3>You can create study materials on this web site.</h3>

<p>To be able to create a new module, you have to login first. If you are first time here, register. <br />
	In the <a href="..\Module">Module</a> list you will find "Create New" link. <br />
	Give a module its name and short description, then type or paste text that will later be played by TUTOR. <br />
	Each Module is a listening course ment to last no longer than 1 hour. <br />
	You can get back to editing your (and only yours) modules, see links on the right of each record.<br />
	Once the module is ready to become publicly available, we need an email from you confirming it.<br />
	At this stage we review it and can negotiate its price and royalties.
	</p>
