@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1515, 111 Pacific ave<br />
    Toronto, ON M6P 2P2<br />
    <abbr title="Phone">P:</abbr>
    1-647-500-1895
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:gronk555@gmail.com">gronk555@gmail.com</a><br />
</address>