@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TUTOR module builder</h1>
    <p class="lead">TUTOR is a free mobile app that helps you learn foreign languages.</p>
    <p>Easy to fit into the average bus ride enabling you to learn language of your own choice during an hour that would otherwise have been devoted to unprofitable boredom.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>
					Install free TUTOR app from google or apple store. Initially it will contain one beginner class for each of the languages it supports.
					Once you've finished with that and feel hungry for more experience, you can tap Market button and browse for specific language modules.
					You can always mark difficult phrase to revisit later. Only marked phrases can be played later saving time not repeating already known ones.
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Get inventive</h2>
        <p>
					Classes might be related to different aspects of life, jokes, songs, stories to tell, how to deal with the opposite sex, foreign books, concise knowledge taken from books.
					Not necessariliy it should be foreign language, if information if valuable, you can peruse it in you native language.
					Listening classes are customizable. You can add phrases you heard and want to memorize. Or you can put together a TO-DO list, 
					play it on your way to work and you will remember it for many days.</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>If you are a teacher</h2>
        <p>You can use this web site to create classes that suit your teaching program. Ask your students to download the modules you created, and TUTOR will help them study.</p>
        <p><a class="btn btn-default" href="Module">Learn more &raquo;</a></p>
    </div>
</div>